.page-contact {

    .header {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .title{
        color:#286928;
    }

    .icon-contact {
        width: 100px;
    }
    
    .back{
        font-size: 33px;
    }
}
