
.page-not-found {
    margin:0;
    padding:0;
}

.title {
    margin-top: 100px;
    text-align: center;
}

.image-404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}