.page-event {

    .section{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .group, textarea {
        display: flex;
        align-items: block;
        gap: 10px;

        input{
            min-width: auto !important;
        }
    }
}